/**
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

/**
 * @author Maxim Bogdanov <sin666m4a1fox@gmail.com>
 */

form > div {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.add-new-address-link {
    background: #cccccc;
    padding: 10px;
    border: 1px solid #717171;
    display: inline-block;
    margin-bottom: 20px;
    color: white;
}

.add-new-address-link:hover {
    text-decoration: none;
    background: #B6B6B6;
}

.address-single {
    background: #f6f6f6;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    min-width: 300px;
    float: left;
    margin-right: 20px;
}

input {
    border: 1px solid #bfbfbf;
    padding: 5px;
}

input[type="text"] {
    width: 200px;
}

input[type="submit"] {
    color: white;
}

input[type="submit"]:hover {
    background: #909090;
    cursor: pointer;
}


label {
    width: 150px;
    display: inline-block;
}