{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('oyster_tag') }}" method="POST">
    <div>
        {{ form_label(form.tag) }}
        {{ form_errors(form.tag) }}
        {{ form_widget(form.tag) }}
    </div>
    <div>
        <label></label>
        <input type="submit" value="Update"/>
    </div>
</form>
{% endblock %}