{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
{% extends '::base.html.twig' %}

{% block body %}
    <form action="{{ path('oyster_edit_user', {'id': userId}) }}" method="POST" class="edit-user">
        <div>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div>
            {{ form_label(form.surname) }}
            {{ form_errors(form.surname) }}
            {{ form_widget(form.surname) }}
        </div>

        <div>
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>

        <div>
            {{ form_label(form.tag) }}
            {{ form_errors(form.tag) }}
            {{ form_widget(form.tag) }}
        </div>

        <div>
            <label></label>
            <input type="submit" value="Update"/>
        </div>
        {{ form_end(form) }}

    <div>
        <div>
            <a href="{{ url('oyster_add_address', {'userId': userId}) }}" class="add-new-address-link">Add New Address</a>
        </div>

        {% for val in userData.userId %}
            {{ include('OysterUserBundle:Default/address:address.html.twig', {'country': val.getCountry, 'city': val.getCity, 'street': val.getStreetAddress, 'postCode': val.getPostCode, 'id': val.getId}) }}
        {% endfor %}
    </div>
{% endblock %}