{% extends '::base.html.twig' %}

{% block body %}
    
    <div>
        <a href="{{ url('oyster_add_user') }}">Add New</a> | <a href="{{ url('oyster_tag') }}">Add New Tag</a>
    </div>
    
    {% for val in usersArray %}
        {{ include('OysterUserBundle:Default/single:user.html.twig', {'name': val.getName, 'surname': val.getSurname,  'status': val.getStatus, 'id': val.getId}) }}
    {% endfor %}
{% endblock %}
