{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
{% extends '::base.html.twig' %}

{% block body %}
    <form action="{{ path('oyster_add_user') }}" method="POST" class="add-new-user">
        <div>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div>
            {{ form_label(form.surname) }}
            {{ form_errors(form.surname) }}
            {{ form_widget(form.surname) }}
        </div>

        <div>
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>

        <div>
            <label></label>
            <input type="submit" value="Update"/>
        </div>
        {{ form_end(form) }}

{% endblock %}