{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}

{{ name }} | {{ surname }} | {{ status == 1 ? 'On' : 'Off ' }} || <a href="{{ url('oyster_edit_user', {'id': id}) }}">Edit</a>
<hr/>