{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
{% extends '::base.html.twig' %}

{% block body %}
<form action="{{ path('oyster_add_address', {'userId': userId}) }}" method="POST">
    <div>
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
    </div>

    <div>
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </div>

    <div>
        {{ form_label(form.streetAddress) }}
        {{ form_errors(form.streetAddress) }}
        {{ form_widget(form.streetAddress) }}
    </div>

    <div>
        {{ form_label(form.postCode) }}
        {{ form_errors(form.postCode) }}
        {{ form_widget(form.postCode) }}
    </div>

    <div>
        <label></label>
        <input type="submit" value="Update"/>
    </div>
    {{ form_end(form) }}

{% endblock %}