{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
<div class="address-single">
    Country: {{ country }}
    <hr/>
    City: {{ city }}
    <hr/>
    Street Address: {{ street }}
    <hr/>
    Post Code: {{ postCode }}
    <hr/>
    <a href="{{ url('oyster_edit_address', {'addressId': id}) }}">Edit address {{ id }}</a>
</div>
